/******w*************

    Project 3
    Name:           Arjess
    Date:			April 22, 2022
    Description:    Project 3 Products CSS file.

********************/

/* Getting Custom Fonts*/
@font-face
{
    font-family: "cookiemonster";
    src:    url("../fonts/cookiemonster.ttf") format("truetype");
}

@font-face
{
    font-family: "veggy";
    src:    url("../fonts/veggy.ttf") format("truetype");
}



*
{
    margin: 0;
    padding: 0;
}

/* Whole Body CSS */
body
{
    font-family: cookiemonster, serif;
    background-color: #ffe5ca;
    border-radius: 10px;
    width: 70em;
    margin: auto;
}


/* Header Section */
header
{
    border: 2px solid white;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    background-color: lightpink;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

header h1
{
    font-size: 4em;
    color: black;
    text-shadow: 2px 0 white;
}

#topnav ul li
{
    margin-top: 50%;
    display: inline;
    font-family: veggy, serif;
}

#topnav ul li a
{
    color: black;
    text-shadow: -2px 0 white;
    font-size: 2em;
    text-decoration: none;
}

#topnav ul li:not(:last-child)
{
    padding: 10px;
}

#topnav ul li:hover, nav ul li:focus
{
    text-decoration: underline;
}


/* Main */
main
{
    font-family: veggy, serif;
    padding: 10px;
    background-color: white;
    font-size: 1.25em;
}

main h1
{
    text-align: center;
    margin-top: -20px;
    padding: 20px;
}

.productList
{
    display: flex;
    justify-content: space-between;
    margin: 0 2em 0 2em;
}

.productOne, .productTwo, .productThree
{
    border: 1px solid #cccccc;
    padding: 10px;
    width: 15em;
    text-align: center;
}

.productOne img, .productTwo img, .productThree img
{
    border: 1px solid black;
    width: 10em;
}

.catList
{
    display: flex;
    justify-content: space-between;
    margin: 0 2em 0 2em;
}

.catOne, .catTwo, .catThree
{
    border: 1px solid #cccccc;
    padding: 10px;
    width: 15em;
    text-align: center;
}

.catOne img, .catTwo img, .catThree img
{
    border: 1px solid black;
    width: 10em;
}

.catList a
{
    text-decoration: none;
    font-size: 20px;
    color: deeppink;
}

/* Footer */
footer
{
    text-align: center;
    border: 2px solid white;
    border-radius: 0 0 10px 10px;
    background-color: lightpink;
    font-weight: bolder;
    font-size: 1.25em;
}

#bottomnav
{
    padding-bottom: 5px;
}

#bottomnav ul li
{
    display: inline;
    padding: 10px;
    font-family: veggy, serif;
}

#bottomnav ul li a
{
    color: black;
    text-shadow: -1px 0 white;
    font-size: 1em;
    text-decoration: none;
}

#bottomnav ul li:hover, nav ul li:focus
{
    text-decoration: underline;
}